body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#downloadLinks {
    text-align: center;
}

.download-link {
    display: block;
    margin: 10px 0;
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
}

.download-link:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
